.add-beer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &-dialog {
    text-align: center;
    padding: 20px;
  }
  &-fields {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 40px;
    &-input {
      margin: 20px;
      min-width: 200px;
    }
  }
}